*

!/.gitignore
!/.gitmodules
!/README.md
!/scripts/
!/scripts/sync.sh

!/codeck
!/claude3
!/codex-research-mcp
!/obsidian/
!/obsidian/packages/
!/obsidian/packages/codemirror-enhance
!/obsidian/packages/mermaid-enhance
!/obsidian/packages/obsidian-file-cleaner-redux
!/obsidian/packages/hi-note
!/obsidian/packages/obsidian-quiet-outline
!/obsidian/packages/obsidian-chartsview-plugin
!/obsidian/packages/phycat
!/obsidian/packages/table-enhance
!/obsidian/packages/termy
